<div class="container" ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">

                    <form class="form-horizontal"
                          role="form"
                          ng-submit="onSubmit()"
                          novalidate="novalidate"
                          ng-hide="submitted">

                        <!-- {!! csrf_field() !!} -->

                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <a href=""
                                   class="btn btn-block btn-social btn-facebook"
                                   ng-click="authenticate('facebook')">
                                    <span class="fa fa-facebook"></span>
                                    Sign in with Facebook
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <a href=""
                                   class="btn btn-block btn-social btn-google"
                                   ng-click="authenticate('google')">
                                    <span class="fa fa-google"></span>
                                    Sign in with Google
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                or
                            </div>
                        </div>

                        <div class="form-group" ng-class="(Errors.hasOwnProperty('email')) ? 'has-error' : ''">
                            <label class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input type="email"
                                       class="form-control"
                                       ng-model="formModel.email"
                                       id="email"
                                       required="required"
                                       ng-maxlength="255">

                                <span class="help-block" ng-if="Errors.hasOwnProperty('email')">
                                    <strong>{{ Errors.email }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="(Errors.hasOwnProperty('password')) ? 'has-error' : ''">
                            <label class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input type="password"
                                       class="form-control"
                                       ng-model="formModel.password"
                                       id="password"
                                       required="required"
                                       ng-minlength="6">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="formModel.remember"
                                               id="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button class="btn btn-primary"
                                        ladda="submitting"
                                        data-style="expand-right"
                                        type="submit">
                                    <i class="fa fa-btn fa-sign-in"></i>
                                    <span ng-show="submitting">Logging</span>
                                    <span ng-show="!submitting">Login</span>
                                </button>

                                <a class="btn btn-link" href="#/password/email">Forgot Your Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>